version: "3.9"

services:
  api:
    build: .
    container_name: colibri-api
    environment:
      - NODE_ENV=production
    expose:
      - "4000"

  nginx:
    image: nginx:1.27-alpine
    container_name: colibri-nginx
    depends_on:
      - api
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
