name: CI/CD Deploy to Google Cloud VM

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd backend
          npm install

      - name: Run tests
        run: |
          cd backend
          npm test

      - name: Build API Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USER }}/colibri-api:latest -f Dockerfile.api .

      - name: Login to Docker Hub
        run: echo ${{ secrets.DOCKER_PASS }} | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin

      - name: Push image
        run: |
          docker push ${{ secrets.DOCKER_USER }}/colibri-api:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      - name: Deploy to Google Cloud VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.GC_HOST }}
          username: ${{ secrets.GC_USER }}
          key: ${{ secrets.GC_SSH_KEY }}
          script: |
            cd colibri-bluegreen-minimal
            git pull
            sudo docker compose pull
            sudo docker compose up -d --build
