name: Deploy to VPS (Blue/Green)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/colibri

            echo ">>> Pulling latest code"
            git pull

            echo ">>> Deploying GREEN"
            /var/www/colibri/deploy.sh green

            echo ">>> DONE"
